@import "spree/storefront/colors";

.vetfort {
  &--ai-consultant {
    &__welcome-component {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 28rem;
      height: 32rem;
      position: relative;
      background: linear-gradient(-45deg, color-indigo(200) 0%, color-pink(100) 100%);

      border-radius: 0.5rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.1s ease;

      &-bg {
        background-image: url('https://res.cloudinary.com/domsefhf3/image/upload/v1761070930/toast-profile-bg_n7imyi.png');
        padding: 1rem;
        background-repeat: no-repeat;
        background-size: 10rem;
      }

      &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      }

      &-avatar {
        width: 5rem;
        height: 5rem;
      }

      &-title {
        font-size: 1.3rem;
        font-weight: 400;
        color: color-gray(700);
      }

      &-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        padding: 0.5rem;
        border: 1px solid transparent;
        cursor: pointer;
        color: color-gray(400);

        &:hover {
          color: color-gray(500);
          border: 1px solid color-gray(400);
          border-radius: 8px;
          background: color-gray(100);
        }
      }

      &-suggestions {
        margin-top: 0.5rem;
        font-weight: 400;
        color: color-gray(700);
      }

      &-suggestions-list {
        margin: 0.5rem 0;
        font-weight: 400;
        color: color-gray(700);

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &-item {
          padding: 0.5rem 0.5rem;
          border-radius: 0.25rem;
          background: color-gray(100, .6);
          font-size: 0.9rem;
          font-weight: 400;
          color: color-gray(700);
          cursor: pointer;

          &:hover {
            background: color-gray(100, .9);
          }
        }
      }

      &-input {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;


        &-textarea {
          width: 100%;
          font-size: 14px;
          line-height: 24px;
          border: none;
          resize: none;
          border-radius: 6px;

          box-shadow:
            0 1px 2px 0 color-gray(800, .06),
            0 1px 3px 0 color-gray(800, .10);

          &:focus {
            outline: none;
            box-shadow:
              0 1px 2px 0 color-gray(900, .10),
              0 1px 3px 0 color-gray(900, .14);
          }
        }

        &-button {
          position: absolute;
          bottom: 0.25rem;
          right: 0.25rem;
          background: none;
          padding: 0.3rem 0.25rem 0.5rem 0.5rem;
          border: 1px solid transparent;
          cursor: pointer;
          border-radius: 9999px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            transform: rotate(40deg);
            color: color-gray(700);
          }

          &:hover {
            background: color-gray(100, .9);
          }
        }
      }
    }
  }
}
