<div class="flex items-center justify-center text-white bg-blue-300 rounded-full w-14 h-14 hover:bg-blue-400 focus:ring-4 focus:ring-blue-300 focus:outline-none">
  <button
    type="button"
    data-action="click->ai-chat#toggleDialog"
    data-ai-chat-target="toggleButton"
    class="flex items-center justify-center text-white bg-blue-300 rounded-full w-14 h-14 hover:bg-blue-400 focus:ring-4 focus:ring-blue-300 focus:outline-none"
  >
    <img class="w-10 h-10 rounded-sm" src="<%= SpreeVetfortExtensionV5::Images.bot_avatar %>" alt="Chat Bot Avatar">
  </button>
</div>
