<div
  class="vetfort--ai-consultant__admin-conversation"
  role="log"
  aria-live="polite"
  aria-relevant="additions"
>
  <% display_messages.each do |message| %>
    <%= render message %>
  <% end %>
</div>
