<div
  id="ai-scroll"
  class="p-3 h-full overflow-y-auto"
  role="log"
  aria-live="polite"
  aria-relevant="additions"
>
  <div class="min-h-full flex flex-col justify-end">
    <div
      class="flex flex-col gap-3"
    >
        <%= render Admin::AiConsultant::MessagesHistoryComponent.new(conversation: @conversation) %>
    </div>
  </div>
</div>