<div id="ai-scroll" class="p-3 h-full overflow-y-auto" role="log" aria-live="polite" aria-relevant="additions" data-ai-chat-target="scroll">
  <div id="<%= messages_target_id %>" class="min-h-full flex flex-col justify-end gap-3" data-ai-chat-target="messages"></div>

  <%= render 'spree/ai_consultant/typing_indicator' %>
</div>
