<%= link_to link_to_product, data: { turbo: false } do %> 
  <div class="vetfort--ai-consultant__products-card">
    <div class="vetfort--ai-consultant__products-card-image">
      <%= image_tag(image_url || placeholder_image_url, alt: @product.name) %>
    </div>
    <div class="vetfort--ai-consultant__products-card-details">
      <div class="vetfort--ai-consultant__products-card-title"><%= @product.name %></div>
      <div class="vetfort--ai-consultant__products-card-price"><%= display_price %></div>
    </div>
  </div>
<% end %>
