<%= turbo_frame_tag "product-import-columns-settings" do %>
  <div data-product-import-target="backdrop"
      data-action="click->product-import#toggleColumnPanel"
      class="position-fixed top-0 start-0 w-100 h-100 d-none"
      style="z-index: 1040;background-color: rgba(0, 0, 0, 0.25);"></div>

  <aside data-product-import-target="columnPanel"
        class="position-fixed top-0 right-0 h-100 bg-white border-start p-4 shadow"
        style="width: 320px; transition: transform 0.3s ease; z-index: 1050; transform: translateX(100%);">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="mb-0">Добавить колонку</h5>
      <button type="button" class="btn-close"
              data-action="click->product-import#toggleColumnPanel"
              aria-label="Close"></button>
    </div>

    <% (Spree::VetfortExtensionV5::ProductImport::DEFAULT_FIELDS - @import.field_mapping.values).each do |field| %>
      <button class="btn btn-outline-primary btn-sm mb-2 w-100 text-start"
              data-action="click->product-import#addColumn"
              data-field="<%= field %>">
        ➕ <%= field.humanize %>
      </button>
    <% end %>
  </aside>
<% end %>
