<div
  class="d-flex align-items-center"
  data-controller="product-import-row"
  id="edit-row-sidedrawer-<%= row.id %>"
>
  <%= button_tag type: :button,
      class: 'btn btn-sm btn-outline',
      data: {
        action: 'click->product-import-row#toggleDrawer',
        'product-import-row-field-value': col
      } do %>
    ✏️
  <% end %>

  <div
    data-product-import-row-target="backdrop"
    data-action="click->product-import-row#toggleDrawer"
    class="vetfort-backdrop d-none"
  ></div>

  <aside
    data-product-import-row-target="drawer"
    class="vetfort-sidedrawer vetfort-sidedrawer-large position-fixed top-0 right-0 h-100 bg-white border-start p-4 shadow"
  >
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5 class="mb-0">Редактировать поле</h5>
      <button type="button" class="btn-close" data-action="product-import-row#closeDrawer"></button>
    </div>
    <div data-product-import-row-target="content">
      <%= form_with url: spree.admin_vetfort_extension_v5_product_import_product_import_row_path(import, row),
          method: :patch,
          data: { product_import_target: "rowForm" },
          class: "mb-3" do %>

      <% end %>
    </div>
  </aside>
</div>
