<div class="d-flex justify-content-end align-items-center mb-3">
  <button type="button" class="btn btn-outline btn-sm" data-action="product-import#toggleColumnPanel">
    <%= icon('columns-3') %>
  </button>
</div>
